<footer class="in-view">
    <section class="footer-content">
        <div id="email-list">
            <form action="https://xyz.us14.list-manage.com/subscribe/post?u=e5bf89e1394d3aa20bdcf60c3&amp;id=55afe910cf&amp;f_id=00bfbae5f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate>
                
                <!-- Form Title -->
                <h6>Subscribe to our Updates</h6>
                <p>Digital musings, direct to your inbox.</p>

                <!-- Email Input Field with Placeholder -->
                <div class="mc-field-group">
                    <input type="email" name="EMAIL" id="bd-email" placeholder="Your Email Address" required>
                </div>
        
                <!-- Hidden Tags Field (Optional) -->
                <input type="hidden" name="tags" value="40183305,40183307">
        
                <!-- Response Messages -->
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
        
                <!-- Spam Prevention Field (Honey Pot) -->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_e5bf89e1394d3aa20bdcf60c3_55afe910cf" tabindex="-1" value="">
                </div>
        
                <!-- Submit Button -->
                <div class="clear">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                </div>
                
            </form>
        </div>
        <div class="rule"></div>
        <div class="ext-links">
           
            <ul class="footer-nav">
                <li><a href="/">About</a></li> 
                <li><a href="/snailmail">Snail Mail Club</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <div class="rule"></div>
            <div class="social">
               
                <a href="https://www.instagram.com/poetryfactory.xzy/" target="_blank">
                    <img src="/assets/images/UI-Icons/icon-instagram.svg" alt="logo for Instagram">
                </a>
                <a href="https://poetryfactoryxyz.etsy.com" target="_blank">
                    <img src="/assets/images/UI-Icons/icon-etsy.svg" alt="social logo for Etsy">
                </a>
                <a href="https://www.instagram.com/poetryfactory.xzy/" target="_blank">
                    <img src="/assets/images/UI-Icons/icon-threads.svg" alt="logo for Threads">
                </a>
              
            </div>
        </div>
    </section>
        <p id="copyright">
            <script>
                const currentYear = new Date().getFullYear();
                document.getElementById("copyright").textContent = `© ${currentYear}`;
            </script>
            The Poetry Factory. All Rights Reserved. <span>We are Poems.</span>
        </p>
</footer>

<script src="/assets/scripts/jquery.js"></script>
<script src="/assets/scripts/main.js"></script>
<script src="/assets/scripts/observer.js"></script>