<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="photography, art direction, photos, portraits, fashion">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Peter Lundblad">
    <meta name="description" content="The photographic portfolio of Lundblad Studios">

    <meta property="og:title" content="Lundblad Studios" />
    <meta property="og:image" content="/assets/images/pcl-site-screenshot.jpg" />
    <meta property="og:description" content="Lundblad Studios" />
    <meta property="og:url" content="https://peterlundblad.com" />
    
    <title>{{ page.title }}</title>
    <!-- <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico"> -->
    <link rel="icon" type="image/png" sizes="32x32" rel="noopener" target="_blank" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" rel="noopener" target="_blank" href="/assets/images/favicon-48x48.png">
    <link rel="apple-touch-icon" sizes="180x180" rel="noopener" target="_blank" href="/assets/images/apple-touch-icon.png">




    <link rel="stylesheet" href="/assets/css/app.css">
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TEL0HDXEGG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TEL0HDXEGG');
</script>

</head>