<header>   
    <div class="container upper-nav">
        <section class="logo">
            <a href="/">
                <img src="/assets/images/LS-logomark-white.svg" alt="Lundblad Studios Logomark">
            </a>
            <h2>{{ site.title }}</h2>
            
        </section>

    <section class="upper-nav">
        <a href="#" class="hamburger" alt="menu icon">
        <img src="/assets/images/menu-hamburger.svg"> 
        </a>

    </section>

    <div class="menu">

        <a href="#" class="menu-esc">
            <img src="/assets/images/menu-esc.svg"> 
        </a>
        <nav>
            <ul>
            {% for item in site.data.navigation %}
            <li><a href="{{ item.link }}" {% if page.url == item.link %} class="selected" {% endif %}>{{ item.name }}</a></li>
            {% endfor %}
            </ul>

        </nav>
    </div>
       
    </div>
</header>

