<div class="row"> 
    <div class="column">
      <img src="/assets/images/blank.png" alt="portrait of a lady in white wedding dress" data-echo="/assets/images/IMG_2731.jpg">
      <!-- <img src="/assets/images/IMG_2731.jpg" alt="portrait of a lady in white wedding dress" loading="eager"> -->
      <img src="/assets/images/20140412-IMG_3967.jpg"  alt="a young couple kissing under an oak tree" loading="eager">
      <img src="/assets/images/0260-2880x1920.jpg" alt="a group of bridesmaids with bright bouquets" loading="eager">
      <img src="/assets/images/IMG_3189.jpg" alt="portrait of lady in white wedding dress" loading="eager">
      <img src="/assets/images/IMG_4241.jpg" alt="a groom and bride standing on a trail" loading="lazy">
      <img src="/assets/images/cardB-224.jpg" alt="closeup of a bride holding a bouquet" loading="lazy">
      <img src="/assets/images/IMG_9821.jpg" alt="an ornate stone sculpture of two people" loading="lazy">
      <img src="/assets/images/wes-nina-eng-028.jpg" alt="portrait of two lovers" loading="lazy">
      <img src="/assets/images/IMG_4217.jpg" alt="portrait of a bride and groom walking on grass" loading="lazy">

      
    </div>

   
    <div class="column">
        <img src="/assets/images/IMG_2381.jpg" alt="three women in white dresses in front of a blue car" loading="eager">
        <img src="/assets/images/IMG_3838.jpg" alt="three women standing in a windowsill" loading="eager">
        <img src="/assets/images/image-asset-1.jpeg" alt="a bride in a white dress" loading="lazy">
        <img src="/assets/images/IMG_3151.jpg" alt="a lady in white standing in a sunflower field" loading="lazy">
        <img src="/assets/images/IMG_7701.jpg" alt="a bride and groom outside standing on a lawn" loading="lazy">
        <img src="/assets/images/image-asset-2.jpeg" alt="a macro shot of wedding rings and leaf" loading="lazy">
        <img src="/assets/images/image-asset-3.jpeg" alt="a bride and groom posing under a tree" loading="lazy">
        <img src="/assets/images/7Z2A0045.jpg" alt="a groom and his son smiling" loading="lazy">
        <img src="/assets/images/cardA-230.jpg" alt="a happy couple sitting in the forest" loading="lazy">




    </div>  
    <div class="column">
        <img src="/assets/images/IMG_3608.jpg" alt="a portrait of a bride out on an upper terrace" loading="eager">
        <img src="/assets/images/IMG_1778.jpg" alt="a classic old car in an old village" loading="eager">
        <img src="/assets/images/0664-bw.jpg" alt="a monochrome image of a bride and groom embracing" loading="lazy">
        <img src="/assets/images/cardB-m-m-588.jpg" alt="a monochrome image of a bride and groom embracing" loading="lazy">
        <img src="/assets/images/IMG_2191.jpg" alt="three women in white dresses in an old cathedral" loading="lazy">
        <img src="/assets/images/wes-nina-eng-154.jpg" alt="a couple lying together in the tall grass" loading="lazy">
        <img src="/assets/images/cardB-317.jpg" alt="a wedding party dancing with motion blur" loading="lazy">
        <img src="/assets/images/wes-nina-eng-096.jpg" alt="a young couple happily running together at sunset" loading="lazy">    
        <img src="/assets/images/IMG_1066.jpg" alt="a women at dusk singing in a small european village" loading="lazy">
        
        
    </div>
    <div class="column">
        <img src="/assets/images/IMG_1399.jpg" alt="a medieval skyline showing a cathedral and red roofs" loading="eager">
        <img src="/assets/images/IMG_0904.jpg" alt="a vibrant photograph of sunflowers" loading="eager">
        <img src="/assets/images/20140614-IMG_4843.jpg" alt="a groom embracing a bride" loading="lazy">
        <img src="/assets/images/IMG_7689.jpg" alt="a closeup of a bridal bouquet with white and yellow flowers" loading="lazy">
        <img src="/assets/images/image-asset-5.jpeg" alt="a couple standing in the countryside" loading="lazy">
        <img src="/assets/images/image-asset-7.jpeg" alt="white wedding cake with floral elements" loading="lazy">
        <img src="/assets/images/IMG_4134.jpg" alt="a portrait of a bride on green grass" loading="lazy">
        <img src="/assets/images/image-asset-6.jpeg" alt="a bride and groom kissing for the first time" loading="lazy">
        <img src="/assets/images/IMG_7846.jpg" alt="a monochrome image of a couple kissing in a field" loading="lazy">

        
    </div>
  </div>